html{ 
    background-color: aquamarine;
}
label{
    font-size: 18px;
    font-style:normal;
    font-weight: bold;
    
}
/* llamar a clases tengo que utilizar .nombre_clase */

input{
    color: blue;
}
button{
    color: azure;
    background: blue;
    font-size: 15px;
    
}
